<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-android-custom-permissions" version="1.0.4" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Custom Permissions</name>
    <author>Northroom Tech</author>
    <description>Cordova plugin to add the custom permissions.</description>
    <keywords>cordova custom permissions</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <platform name="android">
      <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-permission android:name="android.permission.STORAGE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
         <uses-permission android:name="android.permission.INTERNET" />
         <uses-permission android:name="android.permission.WAKE_LOCK" />
         <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
         <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
          <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
        <uses-feature android:name="android.hardware.camera" android:required="true" />
      </config-file>
    </platform>
</plugin>
